<!doctype html>

<head>
  {{> head}}
  <link href="/css/common/schedule.css" rel="stylesheet">
  <link href="/css/pages/plan-meeting-answerer.css" rel="stylesheet">
  <script src="/javascript/common/schedule.js"></script>
  <script>
    var planUuid = "{{uuid}}"
  </script>
</head>

<body class="plan-meeting-answer">
  <header>
    <section class="header-bar">
      <h1 class="big-text-bold">
        <a class="header-bar_website-title">Plan For You</a>
        <a class="header-bar_separator">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a>
        <a class="header-bar_plan-name">{{planName}}</a>
      </h1>
    </section>

    <section class="gradings-header">
      <div class="gradings-header__fields" id="gradings-button">
        <div class="gradings-header__fields__grading__label">
          <p class="small-text-bold">Ratings</p>
        </div>

      </div>
    </section>

  </header>
  <main>
    <section class="answer-name">
      <div class="answer-name__item">
        <div class="answer-name__item__label">
          <p class="small-text-bold">Enter your name:</p>
        </div>
        <input class="answer-name__item__input small-text-bold" id="name">
      </div>
    </section>

    <section class="schedule-viewer">
      <div class="schedule-viewer__container">
        <div class="schedule" id="schedule">

        </div>
      </div>
    </section>
    <section class="submit">
      <button type="submit" class="submit__button" onclick="submitAnswer()">
        <div class="small-text-bold submit__button__text">Submit</div>
      </button>
    </section>
  </main>
  <script src="/javascript/common/click-hold-select.js"></script>
  <script src="/javascript/pages/plan-meeting-answer.js"></script>
  <script>
    let weekCount = {{ weekCount }}
    let timeslotLength = {{ timeslotLengthMinutes }}
    let timeslotStartTime = {{ timeslotStartTimeMinutes }}
    let ratingMax = {{ ratingMax }}

    window.onload = function () {
      buildScheduleTable(
        weekCount,
        timeslotLength,
        timeslotStartTime
      )
      loadConditions()
      buildRatingButtons(ratingMax)
      CURRENT_CLICK_RATING = 'rating-' + ratingMax + '1'
      addTimeslotRatingSelect('')

    }
  </script>
</body>