<!doctype html>
<html lang="en">

<head>
  {{> common_head}}
  <title>{{planName}} - Organizer</title>
  <link href="/css/common/schedule.css" rel="stylesheet">
  <link href="/css/common/rating.css" rel="stylesheet">
  <link href="/css/pages/plan-meeting-organizer.css" rel="stylesheet">
  <script src="/javascript/common/schedule.js"></script>
  <script>
    var planUuid = "{{uuid}}"
    var weekCount = "{{weekCount}}"
    var timeslotLength = "{{timeslotLengthMinutes}}"
    var startTime = "{{timeslotStartTimeMinutes}}"
    var ratingMax = "{{ratingMax}}"
  </script>
</head>

<body class="plan-meeting-organizer">
  <header>
    <section class="title-bar">
      <div class="title-bar__home-button">
        <a href="/view/user/home"> <img class="title-bar__home-button__home-icon" src="/img/home_icon.png" /> </a>
      </div>
      <div class="title-bar__plan-name">
        <h1 class="big-text-bold">{{planName}}</h1>
      </div>
      <div class="title-bar__user-buttons">
        <p class="small-text-bold">{{user.nickname}}&nbsp;|&nbsp;<a class="title-bar__user-buttons_text_sign-out" onclick="signOut()">Sign Out</a></p>
      </div>
    </section>
    <section class="settings-bar">
      <div class="settings-bar__fields">
        <div class="settings-bar__fields__item">
          <div class="settings-bar__fields__item__label">
            <p class="small-text-bold">Week Count:</p>
          </div>
          <select class="settings-bar__fields__item__input select small-text-bold" id="week-count" title="week-count">
            <option class="small-text-bold" value="1">1</option>
            <option class="small-text-bold" value="2">2</option>
            <option class="small-text-bold" value="3">3</option>
            <option class="small-text-bold" value="4">4</option>
          </select>
        </div>
        <div class="settings-bar__fields__item">
          <div class="settings-bar__fields__item__label">
            <p class="small-text-bold">Timeslot Length:</p>
          </div>
          <select class="settings-bar__fields__item__input select small-text-bold" id="timeslot-length" title="timeslot-length">
            <option class="small-text-bold" value="60">60 minutes</option>
            <option class="small-text-bold" value="90">90 minutes</option>
            <option class="small-text-bold" value="120">120 minutes</option>
          </select>
        </div>
        <div class="settings-bar__fields__item">
          <div class="settings-bar__fields__item__label">
            <p class="small-text-bold">Start Time:</p>
          </div>
          <div class="settings-bar__fields__item__input">
            <p class="small-text-bold" id="start-time">480</p>
          </div>
        </div>
        <div class="settings-bar__fields__item">
          <div class="settings-bar__fields__item__label">
            <p class="small-text-bold">Rating Range:</p>
          </div>
          <select class="settings-bar__fields__item__input select small-text-bold" id="rating-max" title="rating-max">
            <option class="small-text-bold" value="2">2</option>
            <option class="small-text-bold" value="3">3</option>
            <option class="small-text-bold" value="4">4</option>
            <option class="small-text-bold" value="5">5</option>
          </select>
        </div>
      </div>
      <div class="settings-bar__link">
        <div class="settings-bar__link__label">
          <p class="small-text-bold">Answer link:</p>
        </div>
        <div class="settings-bar__link__text" id="link">
          <p class="small-text-bold">https://localhost:3000/view/plan/meeting/{{uuid}}/answer</p>
        </div>
        <div class="button-with-icon">
          <div class="icon-container">
            <img id="eye_icon" class="settings-bar__buttons__item_icon" src="/img/eye_closed_icon.svg" />
          </div>
          <div class="button-container">
            <button class="settings-bar__link__publish-button" onclick="togglePublishLink()">
              <p class="small-text-bold" id="publish-button-text">Publish link</p>
            </button>
          </div>

        </div>
      </div>
      <div class="settings-bar__buttons">
        <div class="button-with-icon">
          <div class="icon-container">
            <img class="settings-bar__buttons__item_icon" src="/img/update_icon.svg" />
          </div>
          <div class="button-container">
            <button class="settings-bar__buttons__item">
              <p class="small-text-bold">Update settings</p>
            </button>
          </div>
        </div>
        <div class="button-with-icon">
          <div class="icon-container">
            <img class="settings-bar__buttons__item_icon" src="/img/calculator_icon.svg" />
          </div>
          <div class="button-container">
            <button class="settings-bar__buttons__item">
              <p class="small-text-bold">Calculate best timeslots</p>
            </button>
          </div>
        </div>
      </div>
    </section>
  </header>
  <main>
    <section class="schedule-viewer">
      <div class="schedule-viewer__tabs">
        <div class="schedule-viewer__tabs__item blocked-timeslots selected">
          <p class="small-text-bold">Blocked Timeslots</p>
        </div>
        {{#each answers}}
        <div id="answer-{{id}}" class="schedule-viewer__tabs__item answer">
          <p class="small-text-bold">{{participantName}}</p>
        </div>
        {{/each}}
      </div>
      <div class="schedule-viewer__container">
        <div class="schedule" id="schedule">
        </div>
      </div>
      <div class="schedule-viewer__buttons">
        <button class="schedule-viewer__buttons__unblock" onclick="unblockAllTimeslots()">
          <p class="small-text-bold">Unblock all timeslots</p>
        </button>
      </div>
    </section>
  </main>
  <script src="/javascript/common/click-hold-select.js"></script>
  <script src="/javascript/pages/plan-meeting-organizer.js"></script>
</body>

</html>