<!doctype html>
<html lang="en">

<head>
  {{> common_head}}
  <link href="/css/common/schedule.css" rel="stylesheet">
  <link href="/css/common/rating.css" rel="stylesheet">
  <link href="/css/pages/plan-meeting-answer.css" rel="stylesheet">
  <title>{{planName}} - Ответ - Plan For You</title>
  <script src="/javascript/common/schedule.js"></script>
  <script>
    var planUuid = "{{uuid}}"
  </script>
</head>

<body class="plan-meeting-answer">
  <header>
    <section class="header-bar">
      <h1 class="big-text-bold">
        <span class="header-bar__website-title">Plan For You</span>
        <span class="header-bar__separator">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <span class="header-bar__plan-name">{{planName}}</span>
      </h1>
    </section>

    <section class="ratings-header" id="rating-section">
      <div class="ratings-header__fields" id="rating-buttons">
        <div class="ratings-header__fields__rating__label">
          <p class="medium-text-bold">Ratings</p>
        </div>

      </div>
    </section>

  </header>
  <main>
    <div class="page-schedule">
      <section class="answer-name">
        <div class="answer-name__item">
          <div class="answer-name__item__label">
            <p class="medium-text-bold">Enter your name:</p>
          </div>
          <input class="answer-name__item__input small-text-bold" title="participant-name" id="name">
        </div>
      </section>
      <section class="schedule-viewer">
        <section class="schedule-viewer__title">
          <p class="medium-text-bold">Rate how available you are:</p>
        </section>
        <div class="schedule-viewer__container">
          <div class="schedule" id="schedule"></div>
        </div>
      </section>
      <section class="submit">
        <button type="submit" class="submit__button" onclick="submitAnswer({{ ratingMax }})">
          <div class="small-text-bold submit__button__text">Submit</div>
        </button>
      </section>
    </div>

    <div class="page-submited">
      <section class="submited-content">
        <img class="submited-content_catFootprint-icon" src="/img/catFootprint_icon.svg">
        <p class="big-text-bold">Your answer has been submited!</p>
      </section>
      <section class="refill">
        <button class="refill__button" onclick="location.reload()">
          <div class="small-text-bold ">Fill in another answer</div>
        </button>
      </section>

    </div>

    </section>

  </main>
  <script src="/javascript/common/click-hold-select.js"></script>
  <script src="/javascript/pages/plan-meeting-answer.js"></script>
  <script>
    let weekCount = {{ weekCount }}
    let timeslotLength = {{ timeslotLengthMinutes }}
    let startTime = {{ startTimeMinutes }}
    let ratingMax = {{ ratingMax }}
  </script>
</body>

</html>